<?xml version='1.0' encoding='utf-8'?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.art.vpn">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.READ_PRIVILEGED_PHONE_STATE"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    	<!-- prevent phone from sleeping -->
	<uses-permission android:name="android.permission.WAKE_LOCK" />
    <!-- For apps targeting Android 13 or higher & GMA SDK version 20.3.0 or lower -->
    <uses-permission android:name="com.google.android.gms.permission.AD_ID"/>
   <application
        android:name="com.slipkprojects.sockshttp.MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:resizeableActivity="true"
        android:usesCleartextTraffic="true"
        android:extractNativeLibs="true"
        android:requestLegacyExternalStorage="true">

        <activity
            android:name="com.slipkprojects.sockshttp.LauncherActivity"
			android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"
			android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        
        <activity
			android:exported="false"
            android:name="com.slipkprojects.sockshttp.errors"
            android:label="@string/app_name"/>
          
          <service android:name="com.slipkprojects.sockshttp.ui.ProxyService" />
		<activity
            android:name="com.slipkprojects.sockshttp.ui.ProxySettings"
            android:label="@string/app_name" />
            
                <activity
			android:exported="false"
            android:name="com.slipkprojects.sockshttp.ServerStatusActivity"
            android:label="Server Status"/>
		
       

        <activity
            android:name="com.slipkprojects.sockshttp.MainActivity"
			android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"
			android:exported="false">
			<intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.HOME"/>
            </intent-filter>
		</activity>

        <activity
            android:name="com.slipkprojects.sockshttp.activities.ConfigGeralActivity"
			android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"
            android:label="@string/settings"
			android:exported="false"
			android:parentActivityName="com.slipkprojects.sockshttp.MainActivity">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.slipkprojects.sockshttp.MainActivity"/>
			
		</activity>
		    <activity android:name="com.slipkprojects.sockshttp.SpeedTestActivity"
            android:label="Speed Test"
            android:parentActivityName="com.slipkprojects.sockshttp.MainActivity"   />


        <activity
            android:name="com.slipkprojects.ultrasshservice.LaunchVpn"
			android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"
            android:theme="@style/AppThemeLogin"
			android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

        <receiver android:name="com.slipkprojects.ultrasshservice.MainReceiver"
			android:exported="false">
            <intent-filter>
                <action android:name="com.slipkprojects.ultrasshservice.MainReceiver.ACTION_SERVICE_STOP">
                </action>
                <action android:name="com.slipkprojects.ultrasshservice.MainReceiver.ACTION_SERVICE_RESTART">
                </action>
            </intent-filter>
        </receiver>

        <service
            android:label="@string/app_name"
            android:name="com.slipkprojects.ultrasshservice.tunnel.vpn.TunnelVpnService"
            android:exported="false"
            android:enabled="true"
            android:permission="android.permission.BIND_VPN_SERVICE">
            <intent-filter>
                <action android:name="android.net.VpnService"/>
            </intent-filter>
        </service>
        <meta-data
           android:name="firebase_performance_logcat_enabled"
           android:value="true" />
         <meta-data
			android:name="com.google.firebase.messaging.default_notification_icon"
			android:resource="@drawable/ic_massage" />

        <service
            android:label="SocksHttp Service"
            android:name="com.slipkprojects.ultrasshservice.SocksHttpService"
            android:stopWithTask="false"
            android:exported="false"/>

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-7142381660228882~1445341121"/>

        <meta-data
           android:name="com.google.android.gms.ads.AD_MANAGER_APP"
           android:value="true"/>

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false"/>

    </application>

</manifest>
